@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(0deg, rgba(205,254,255,1) 0%, rgba(154,255,254,1) 50%, rgba(80,225,255,1) 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131314;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
